<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bam_test.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <title>AD</title>
</head>
<body>
    <div id="bamAD" class="bam-test-ad-wrapper" >
        <div class="logo-wrapper" >
        </div>
        <div class="content-wrapper" >
            <div class="counter">
                <ul>
                    <li>
                        <span class="title" >Days</span>
                        <span class="days" >00</span>
                    </li>
                    <li>
                        <span class="title" >Hours</span>
                        <span class="hours" >00</span>
                    </li>
                    <li>
                        <span class="title" >Min</span>
                        <span class="mins" >00</span>
                    </li>
                    <li>
                        <span class="title" >Sec</span>
                        <span class="secs" >00</span>
                    </li>
                </ul>
                <div class="time-label">
                    <p>Remaining time to place bet</p>
                </div>
            </div>
            <div class="description">
                <h2>Our NFL Pick: Vikings +3</h2>
                <h3>Hurry up! <span>25</span> people have placed this bet</h3>
            </div>
        </div>
        <div class="bet-wrapper" >
            <button>Bet & Win</button>
            <span>Trusted</span>
            <span>Sportsbetting.ag</span>
        </div>
    </div>

    <script type="text/javascript" src="js/bam_test.js" ></script>
</body>
</html>